/General/nbproject/private/
/General/build/
General/build.xml
General/manifest.mf
General/nbproject/build-impl.xml
General/nbproject/genfiles.properties
General/nbproject/project.properties
General/nbproject/project.xml
